In [42]:
import pandas as pd 
import numpy as np

In [43]:
df = sns.load_dataset('iris')

In [44]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
encoder = LabelEncoder()

In [47]:
df['species'] = encoder.fit_transform(df['species'])

In [48]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [49]:
#new data frame
df = df[df['species'] != 0][['sepal_length','sepal_width','species']]

In [50]:
df.head()

    sepal_length  sepal_width  species
50           7.0          3.2        1
51           6.4          3.2        1
52           6.9          3.1        1
53           5.5          2.3        1
54           6.5          2.8        1

In [51]:
df.shape

(100, 3)

In [52]:
X = df.iloc[:,0:2]
y = df.iloc[:,-1]

In [53]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [54]:
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()
clf3 = KNeighborsClassifier()

In [55]:
estimators = [('lr',clf1),('rf',clf2),('knn',clf3)]

In [56]:
for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv=10,scoring='accuracy')
    print(estimator[0],np.round(np.mean(x),2))

lr 0.75
rf 0.64
knn 0.62

In [57]:
from sklearn.ensemble import VotingClassifier

In [58]:
vc = VotingClassifier(estimators=estimators,voting='hard')
x = cross_val_score(vc,X,y,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

0.68

In [59]:
vc1 = VotingClassifier(estimators=estimators,voting='soft')
x = cross_val_score(vc1,X,y,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

0.64

In [60]:
for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            vc = VotingClassifier(estimators=estimators,voting='soft',weights=[i,j,k])
            x = cross_val_score(vc,X,y,cv=10,scoring='accuracy')
            print("for i={},j={},k={}".format(i,j,k),np.round(np.mean(x),2))

for i=1,j=1,k=1 0.65
for i=1,j=1,k=2 0.64
for i=1,j=1,k=3 0.66
for i=1,j=2,k=1 0.61
for i=1,j=2,k=2 0.64
for i=1,j=2,k=3 0.64
for i=1,j=3,k=1 0.64
for i=1,j=3,k=2 0.63
for i=1,j=3,k=3 0.64
for i=2,j=1,k=1 0.68
for i=2,j=1,k=2 0.65
for i=2,j=1,k=3 0.67
for i=2,j=2,k=1 0.64
for i=2,j=2,k=2 0.63
for i=2,j=2,k=3 0.65
for i=2,j=3,k=1 0.62
for i=2,j=3,k=2 0.65
for i=2,j=3,k=3 0.64
for i=3,j=1,k=1 0.69
for i=3,j=1,k=2 0.68
for i=3,j=1,k=3 0.7
for i=3,j=2,k=1 0.68
for i=3,j=2,k=2 0.67
for i=3,j=2,k=3 0.64
for i=3,j=3,k=1 0.65
for i=3,j=3,k=2 0.66
for i=3,j=3,k=3 0.64

In [61]:
from sklearn.svm import SVC

In [62]:
from sklearn.datasets import make_classification

X, y = make_classification(n_samples=1000, n_features=20, n_informative=15, n_redundant=5, random_state=2)

svm1 = SVC(probability=True, kernel='poly', degree=1)
svm2 = SVC(probability=True, kernel='poly', degree=2)
svm3 = SVC(probability=True, kernel='poly', degree=3)
svm4 = SVC(probability=True, kernel='poly', degree=4)
svm5 = SVC(probability=True, kernel='poly', degree=5)

estimators = [('svm1',svm1),('svm2',svm2),('svm3',svm3),('svm4',svm4),('svm5',svm5)]

for estimator in estimators:
    x = cross_val_score(estimator[1],X,y,cv=10,scoring='accuracy')
    print(estimator[0],np.round(np.mean(x),2))

svm1 0.85
svm2 0.85
svm3 0.89
svm4 0.81
svm5 0.86

In [63]:
vc1 = VotingClassifier(estimators=estimators,voting='soft')
x = cross_val_score(vc1,X,y,cv=10,scoring='accuracy')
print(np.round(np.mean(x),2))

0.92